Web References/ServicioWeb/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domicilio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Saldo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Busqueda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="folio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaSoapIn">
    <wsdl:part name="parameters" element="tns:Busqueda" />
  </wsdl:message>
  <wsdl:message name="BusquedaSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="Guardar">
      <wsdl:input message="tns:GuardarSoapIn" />
      <wsdl:output message="tns:GuardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <wsdl:input message="tns:BusquedaSoapIn" />
      <wsdl:output message="tns:BusquedaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <soap:operation soapAction="http://tempuri.org/Busqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap12:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <soap12:operation soapAction="http://tempuri.org/Busqueda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="http://192.168.174.1:82/ServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="http://192.168.174.1:82/ServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>